<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  
  <div>
    <mat-card>
      <mat-card-content>
        
        <form id="myForm" class="example-form" [formGroup]="applyForm" (submit)="submitApplication()">
          <h1>
            Sign In
          </h1>
          <mat-form-field class="example-full-width">
            <mat-label>Email address</mat-label>
            <input id="email" matInput formControlName="email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input id="password" matInput type="password" formControlName="password">
          </mat-form-field>
          <button mat-raised-button color="primary">Sign in</button>
  
          <a routerLink="/signup"> Don't have an account? Sign Up</a>
        </form>
        
      </mat-card-content>
    </mat-card>  
  </div>