<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <span>{{account}}</span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button *ngIf="account" mat-menu-item (click)="signOut()">
        <span>Sign out</span>
        </button>
    </mat-menu>
</mat-toolbar>