<div id="outerDiv">
  <mat-card id="myCard">
    <mat-card-content>
      <form id="myForm" class="example-form" [formGroup]="applyForm" (submit)="submitApplication()">
        <h1>
          Sign Up
        </h1>
        <mat-form-field class="example-full-width">
          <mat-label>Email address</mat-label>
          <input id="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input id="password" matInput type="password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary">Sign up</button>

        <a routerLink="/signin">Have an account? Sign in</a>
      </form>
    </mat-card-content>
  </mat-card>  
</div>